/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }


  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* below is just to highlight header functionality */
.temp-content {
  padding: 0 15px;
  max-width: 1200px;
  margin: 50px auto 0;
  font-family: Open Sans,sans-serif;
  font-size: 16px;
}



/*******************************
  responsive header css 
********************************/

/* mobile first */

body {
  font-family: Open Sans,sans-serif;
}

a, a:link, a:hover, a:active {
  text-decoration: none;
}


.ps-header {
  height: 50px;
  padding: 0 15px;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.10);
}

.ps-header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tablet-desktop-container {
  display: none;
}

.flex-item {
  flex-grow: 1;
  flex-basis: 0;
}

.ps-header__contact {
  text-align: center;
}

.ps-header__mobile-contact-link {
  display: inline-block;
  font-size: 8px;
  color: #1e4b60;
}

.ps-header__mobile-contact-icon {
  display: block;
  margin: 0 auto 5px;
  width: 30px;
  height: 30px;
  background: #73b90d url(../images/telephone.svg) 8px 7px no-repeat;
  border-radius: 50%;
}




.ps-header__mobile-menu {
  text-align: right;
}
.ps-header__mobile-menu a {
  width: 40px;
  padding-top: 30px;
  float: right;
  font-size: 8px;
  text-align: center;
}
.ps-header__mobile-menu-icon {
  position: absolute;
  top: 10px;
  font-size: 8px;
  color: #1e4b60;
}

.ps-header__mobile-menu-icon:before, .ps-header__mobile-menu-icon:after {
  position: absolute;
  left: 20px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #1e4b60;
}
.ps-header__mobile-menu-icon:before {
  transform: rotate(45deg);
}
.ps-header__mobile-menu-icon:after {
  transform: rotate(-45deg);
}

.ps-header__get-quote {
  background: #73b90d;
  color: #fff;
  text-transform: uppercase;
  padding: 23px 10px;
  text-align: center;
  
}

.ps-header__get-quote:after {
   content: ' ';
    border: solid  #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.ps-header__mobile-menu-expanded {
  display: none;
  position: absolute;
  width: 100%;
  padding: 50px;
  text-align: center;
  top: 50px;
  left: 0;
  z-index: 1;
  background: #000;
}

.ps-header__mobile-menu-expanded.active {
  display: block;
}

.ps-header__sales a {
  color: #0b9dda;
}

.ps-header__sales .ps-header__mobile-contact-icon {
  background-color: #0b9dda;
}
.ps-header__contact a {
  color: #73b90d;
}

.ps-header__mobile-menu-expanded .ps-header__mobile-contact-icon {
  width: 60px;
  height: 60px;
  background-size: 30px 30px;
  background-position: 15px;
}

.ps-header__mobile-menu-expanded .ps-header__contact,
.ps-header__mobile-menu-expanded .ps-header__sales {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 30px;
}

.ps-header__mobile-menu-expanded .ps-header__contact span,
.ps-header__mobile-menu-expanded .ps-header__sales span {
  display: block;
  color: #fff;
}

.ps-header__mobile-menu-expanded .ps-header__get-quote {
  text-transform: uppercase;
  padding: 12px 10px;
  text-align: center;
  display: block;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 5px;
}

.ps-header__mobile-menu-expanded:before {
  content: ' ';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  top: 0;
  left: calc(50% - 10px);
}


@media screen and (min-width: 768px) {

  .mobile-container {
    display: none;
  }
  .tablet-desktop-container {
    display: flex;
  }

  .reduced-menu {
    display: none;
  }

  body {
    padding-top: 75px;
  }

  .ps-header {
    height: 60px;
    padding-right: 0;
    position: fixed;
    width: 100%;
    top: 0;
  }

  .ps-header.reduced {
    height: 45px;
  }

  .ps-header__logo {
    flex-grow: 2;
    flex-basis: 0;
  }

  .ps-header__sales,
  .ps-header__contact {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
  }
  
  .ps-header__sales span,
  .ps-header__contact span {
    font-family: Open Sans Bold,sans-serif;
    display: block;
    font-size: 18px;
  }

  .ps-header__get-quote {
    font-family: Open Sans Bold,sans-serif;
    font-size: 14px;
  }

  .ps-header__help a {
    font-size: 12px;
    color: #1E4B60;
    line-height: 15px;
  }
  .ps-header__help img {
    float: left;
    margin-right: 10px;
  }

  .ps-header__help span {
    display: block;
  }
  .ps-header.reduced .tablet-desktop-container:first-of-type,
  .ps-header.reduced .ps-header__sales,
  .ps-header.reduced .ps-header__contact {
    display: none;
  }
  .ps-header.reduced .reduced-menu {
    display: block;
  }
  .ps-header.reduced .ps-header__get-quote {
    padding: 15px 10px;
  }
  .ps-header.reduced .ps-header__contact {
    font-size: 13px;
    text-transform: none;
  }

  .ps-header.reduced .ps-header__logo img  {
    width: 96px;
  }
}

@media screen and (min-width: 1024px) {
  .ps-header__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .ps-header__sales span,
  .ps-header__contact span {
    display: inline-block;
    margin-right: 5px;
  }
  .ps-header.reduced .ps-header__contact {
    font-size: 15px;
  }
}